:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: #fafafa;
    --white: hsl(0, 0%, 100%);
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 18px;
    font-family: "Public Sans", system-ui, sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--grayish-blue);
}
.attribution a {
    color: var(--light-grayish-blue);
    text-decoration: none;
}
.attribution a:hover {
    color: #fff;
}

/* Navigation */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
}

.mobile-nav-toggle {
    display: none;
}

.logo-container img {
    height: 1.4rem;
    margin: 1.5rem 1rem;
}

.primary-navigation {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-inline: 3rem;
}

.primary-navigation a {
    color: var(--dark-blue);
    text-decoration: none;
}
.primary-navigation a > [aria-hidden="true"] {
    font-weight: 400;
    margin-inline-end: 0.25em;
}

/* Hero */
.banner {
    background-image: url('images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    height: 85vw;
    position: relative;
    z-index: -1;
}
.hero {
    padding-bottom: 6rem;
}
.hero img {
    margin: 0 auto;
    position: relative;
    top: -35vw;
}
.banner-text {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text h1 {
    font-weight: 300;
    text-align: center;
    font-size: 2.5rem;
    color: var(--dark-blue);
}
.banner-text p {
    text-align: center;
    font-size: 1rem;
    color: var(--grayish-blue);
}
.banner-text a {
    border-radius: 2rem;
    font-size: 1rem;
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    color: var(--white);
    padding: 0.75rem 2rem;
    margin-top: 2rem;
    text-decoration: none;
}

/* Features */
.features {
    background-color: var(#F4F5F7);
    padding-bottom: 2rem;
}
.features-text {
    padding: 4rem 1.5rem;
}
h2 {
    font-weight: 400;
    font-size: 2rem;
    color: var(--dark-blue);
    text-align: center;
    margin: 0;
}
.features-text p {
    text-align: center;
    font-size: 1rem;
    color: var(--grayish-blue);
}
.features-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.features-container {
    padding: 0 1.5rem;
}
.features-card {
    padding: 1.5rem 0;
    max-width: 25rem;
}
.features-card img {
    border-radius: 50%;
    width: 5rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.features-card-text h3 {
    font-weight: 400;
    color: var(--dark-blue);
}
.features-card-text p {
    font-size: 1rem;
    color: var(--grayish-blue);
}

/* Articles */
.articles {
    background-color: var(--very-light-gray);
    padding: 4rem 0;
}
.articles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
}
.articles-card {
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.02);
}
.article-img {
    width: 100%;
    height: 12rem;
    background-image: url('images/image-currency.jpg');
    background-size: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}
#article-restaurant {
    background-image: url('images/image-restaurant.jpg');
}
#article-plane {
    background-image: url('images/image-plane.jpg');
}
#article-confetti {
    background-image: url('images/image-confetti.jpg');
}
.article-text {
    padding: 1.5rem 1.5rem;
}
.article-text h3 {
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark-blue);
    margin: 0;
}
.article-text p {
    font-size: 0.75rem;
    padding: 0;
    color: var(--grayish-blue);
}
.article-text p:nth-of-type(1) {
    font-size: 0.6rem;
    padding-bottom: 0.5rem;
}

/* Footer */
footer {
    background-color: var(--dark-blue);
    padding-top: 4rem;
}
.footer-logo-container img {
    margin: 0 auto;
}
.footer-socials {
    display: flex;
    justify-content: space-between;
    max-width: 10rem;
    margin: 2rem auto;
}
.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 20rem;
    margin: 0 auto;
}
.footer-links a {
    color: var(--light-grayish-blue);
    text-decoration: none;
    font-size: 0.9rem;
    transition: 300ms;
}
.footer-links a:hover {
    color: var(--white);
}
.test {
    text-align: center;
    margin: 2rem 0;
}
.footer-invite {
    border-radius: 2rem;
    font-size: 0.9rem;
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    color: var(--white);
    text-decoration: none;
    padding: 0.75rem 2rem;
    display: inline-block;
}
footer p {
    color: var(--grayish-blue);
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .primary-navigation {
        gap: 1rem;

        position: fixed;
        z-index: 1000;
        inset: 10% 5% auto 5%;
        border-radius: 0.5rem;

        flex-direction: column;
        padding: min(5vh, 10rem) 2em;
        text-align: center;

        background: var(--white);
        backdrop-filter: blur(1rem);

        transform: translateX(120%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background-color: transparent;
        background: url("images/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 1.75rem;
        border: 0;
        aspect-ratio: 1;
        top: 1.3rem;
        right: 1.5rem;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("images/icon-close.svg");
    }

    .hidden {
        visibility: hidden;
    }
    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
    }
}
